* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: whitesmoke;
    height: auto;
  }

/* NAV BAR */
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: whitesmoke;
    position: fixed;
    z-index: 1;
    width: 100%;
  }

  .nav-bar li {
    display: inline;
    padding: 0 2rem;
  }

  .nav-bar a {
    text-decoration: none;
    font-weight: 500;
    color: black;
  }

  .nav-bar a:hover {
    color: #0eb986;
    border-bottom: 2px solid #0eb986;
    transition: .1s ease-out;
  }

  .nav-bar h2 {
    font-size: 1.25rem;
  }
  
  .logo {
    display: inline-flex;
    /* border: 1px solid red; */
    align-items: center;
  }

  .logo .fa-brands {
    padding: 0 1rem;
  }

  .nav-bar .logo {
    
  }


  /* MOBILE NAV */
.mobile-nav {
    background-color: whitesmoke;
    padding: 2rem 1rem;
    position: fixed;
    z-index: 1;
    width: 100%;
/*     border: 1px solid blue; */
}


.mobile-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
/*     border: 1px solid red; */

}

  .mobile-nav li {
    list-style: none;
    padding: 0 2rem;
/*     border: 1px solid green; */
  }

  @media (max-width: 768px) and (max-width: 1024px) {
    .logo {
        font-size: .8rem;
        transition: .2s ease-in;
    }

    .nav-bar {
        font-size: .8rem;
        padding: .5rem;
        display: none;
    }

    .mobile-nav {
       
    }

  }

  @media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
  }

  /* HERO BANNER */

  .hero-banner {
    position: relative;
    background-image: url(./Images/Hero-Banner.png); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width and height */
  }
  
  .overlay h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif; /* Adjust font as needed */
  }
  
  .overlay p {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif; /* Adjust font as needed */
  }
  
  .cta-button {
    background-color: #0eb986; /* Green color */
    color: white;
    padding: 15px 30px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Arial', sans-serif; /* Adjust font as needed */
  }
  
  .cta-button:hover {
    background-color: #23906F; /* Darker green on hover */
  }
  
  @media (max-width: 768px) {
    .overlay h1 {
      font-size: 2em;
    }
  
    .overlay p {
      font-size: 1em;
    }
  
    .cta-button {
      padding: 10px 20px;
      font-size: 0.9em;
    }
  }
  
  @media (max-width: 480px) {
    .overlay h1 {
      font-size: 1.5em;
    }
  
    .overlay p {
      font-size: 0.9em;
    }
  
    .cta-button {
      padding: 8px 16px;
      font-size: 0.8em;
    }
  }

/*   ABOUT US SECTION V1   */

/* .about-container {
    background-color: #0eb986;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.mission-history-team {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    
}

.item {
    display: block;
    text-align: center;
    line-height: 1.5rem;
    /* border: 1px solid white; */
/*  justify-items: center;
    padding: 2rem 5rem;
}

.item h3,p {
    margin-top: .8rem;

} */

/* ABOUT US SECTION */

.about-container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* background-color: #23906F; */
    background-image: url(./Images/bacgkround-about-us\ 2.jpg);
    height: auto;
   
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
 /*    border: 1px solid red; */
    color: white;
}

.item {
    
    text-align: center;
    margin: 3rem;
    width: 70%;
    /* border: 1px solid red; */
}

.item h3,p {
    margin-top: .8rem;
}

.right-side {
    background-color: white;
   /*  border: 2px solid rgb(187, 255, 0); */
}

.right-side h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.team {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 1rem 3rem 1rem 3rem;
    
} 

.team-member {
    height: auto;
    /* border: 1px solid aqua; */
    display: flex;
    align-items: center;

}

.team-member img {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    margin: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.team-text {
    /* border: 1px solid pink; */
    /* line-height: .5rem; */
}


@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .team-member img {
    width: 6rem;
    height: 6rem;
  }
}

/* EVENTS SECTION */

.events-container {
  background-color: whitesmoke;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 2rem;
}

.events-container > h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  width: 22%;
  margin: 1rem 0;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  box-sizing: border-box;
  overflow: hidden; /* Ensure no overflow from the image */
}

.cards:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease;
}

.cards img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover; /* Ensures the image covers the container */
}

.Information {
  padding: 0 20px;
}

.cards h1, .cards h3, .cards h4 {
  margin-top: 1rem;
  padding-top: 10px;
}

.cards p {
  height: auto;
  padding-bottom: 20px;
}

.cards h2 {
  position: absolute;
  color: white;
  background-color: rgba(14, 185, 134, 0.8);
  border-radius: 20px 0px 20px 0px;
  padding: 10px 30px;
}

.cards button {
  background-color: #0eb986;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 1.1rem;
  font-weight: 900;
  margin-top: auto;
  margin-bottom: 2rem;
}

button:hover {
  background-color: #23906F;
  transition: .2s ease-in;
}

/* Responsive Layout */

@media (max-width: 1200px) {
  .cards {
      width: 30%;
  }
}

@media (max-width: 992px) {
  .cards {
      width: 45%;
  }
}

@media (max-width: 768px) {
  .cards-container {
      flex-direction: column;
      align-items: center;
  }
  
  .cards {
      width: 80%;
  }
}

@media (max-width: 576px) {
  .cards {
      width: 90%;
  }
}

/* MEMBERSHIP SECTION */

/* SUBSCRIBE FORM */
.subscribe-form-container {
  background-color: #0eb986;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: white;
}

.subscribe-form {
  padding: 2rem;
  border-radius: 8px;
 color: whte;
  max-width: 800px;
  width: 100%;
  line-height: 2rem;
}

.subscribe-form h2 {
  margin-top: 1.5rem 0;
  font-family: 'Arial', sans-serif;
}

.subscribe-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
}

.subscribe-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 2px solid white;
  border-radius: 4px;
  font-family: 'Arial', sans-serif;
  background-color: #0eb986;
}

.subscribe-form button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1.5rem;
  background-color: white; /* Green color */
  color: #0eb986;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
}

.subscribe-form button:hover {
  background-color: #23906F; /* Darker green on hover */
  color: white;
}

/* FOOTER */

footer {
  text-align: center;
  padding-bottom: 2rem;
  
  
}








